:root {
    --bg-nav: #38614b;
    --marcacao: #ed8140;
    --text-nav: #ffffff;
    --text: #353535;
}

.menu,
.menu a {
    background-color: var(--bg-nav);
    color: var(--text-nav);
    font-family: Helvetica;
    font-weight: 400;
}

.menu a:hover,
.active, .navbar-nav .nav-link.show {
    color: var(--text-nav) !important;
    font-weight: 600 !important;
}

.menu li:hover {
    background-color: var(--bg-nav) !important;
}

body {
    background-image: url(./src/BACKGROUND_.png);
    background-repeat: repeat;
}

.dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
    border-color: #00000000;
    --bs-dropdown-link-hover-bg: var(--bg-nav);
}

.navbar-nav .nav-link.show {
    color: var(--bs-navbar-active-color);
}

h1, .titulo {
    font-family: Helvetica;
    font-weight: bold;
    font-stretch: condensed;
}

.titulo-page {
    color: var(--marcacao);
}

a {
    text-decoration: none;
    color: dimgray;
}

.texto {
    text-align: justify;
    font-family: Helvetica;
    font-weight: 400;
}

@media (min-width: 992px) {
    .borda {
        border-right: 2px solid #ed8140;
    }

    .nav-link {
        padding-top: 0;
        padding-bottom: 0;
    }

    .menu {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}